<div class="navigationTop">
    <a href="http://www.refugethegame.com/" class="logoWhite"></a>
</div>

<ul class="navigation">
    
    {% if theme_config.dropdown.enabled %}
        {{ _self.loop(pages) }}
    {% else %}
        {% for page in pages.children.visible %}
            {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
            <li class="{{ current_page }} buttonBox">
                <a href="{{ page.url }}">
                    <div class="button">
                        {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
                        {{ page.menu }}
                    </div>
                </a>
            </li>
        {% endfor %}
    {% endif %}
    {% for mitem in site.menu %}
        <li>
            <div class="buttonBox">
                <a href="{{ mitem.url }} button">
                    {% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
                    {{ mitem.text }}
                </a>
            </div>
        </li>
    {% endfor %}

</ul>

<div class="navigationBottom">
    <div class="download">
        <p>AVAILABLE THIS DECEMBER</p>
        <a href="https://notyet.itch.io/refuge" class="downloadLink itchio" title="Download Refuge on Itch.io" target="_blank" rel="noopener"></a>
    </div>
</div>